.h1{
    width: 50px;
    height: 50px;
    color: #ff0000;
    background-color: #0031f3;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
     ;
}